form {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div > label {
  font-weight: 600;
}
div > input {
  width: 250px;
  height: 25px;
}

form > button {
  background-color: rgba(239, 107, 74, 1);
  width: 250px;
  height: 40px;
}
